*{
    margin: 0;
    padding: 0;
}
img {
    width: 400px;
    height: 300px;
}
.titulo p {
    font-size: 30px;
    margin: 10px;
}
.texto1{
    background-image: url("../img/background.png");
    color: white;
    border: 1px solid white;
    font-size: 20px;
    line-height: 1.0;
    padding-top: 20px;
}
.listafilmes {
    background-image: url("../img/background.png");
    color: white;
    display: flex;
}
.anos {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}
.miniatura {
    width: 150px;
    height: 100px;
}
h4 {
    margin-left: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
h5 {
    margin-left: 200px;
    display: flex;
    padding-top: 22px;
    font-size: 20px;
    width: 300px;
}
.linha-comprida {
    width: 1px;
    height: 3800px;
    background-color: white;
    margin-left: 40px;
}
.linha1{
    margin-bottom: 0;
}
.linha2 {
    width: 900px;
    height: 1px;
    background-color: white; 
    margin-top: 40px;
}
.linha3 {
    width: 850px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha4 {
    width: 800px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha5 {
    width: 750px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha6 {
    width: 700px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha7 {
    width: 650px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha8 {
    width: 600px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha9 {
    width: 550px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha10 {
    width: 500px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}

.linha11 {
    width: 450px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha12 {
    width: 450px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha13 {
    width: 500px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha14 {
    width: 550px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha15 {
    width: 600px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha16 {
    width: 650px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha17 {
    width: 700px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha18 {
    width: 750px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha19 {
    width: 800px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha20 {
    width: 900px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha21 {
    width: 850px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha22 {
    width: 800px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha23 {
    width: 750px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha24 {
    width: 700px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha25 {
    width: 650px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha26 {
    width: 700px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha27 {
    width: 750px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha28 {
    width: 800px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha29 {
    width: 850px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha30 {
    width: 900px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha31 {
    width: 850px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha32 {
    width: 800px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha33 {
    width: 750px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha34 {
    width: 700px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha35 {
    width: 650px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha36 {
    width: 700px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha37 {
    width: 750px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha38 {
    width: 800px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha39 {
    width: 850px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha40 {
    width: 900px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha41 {
    width: 850px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha42 {
    width: 800px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha43 {
    width: 750px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha44 {
    width: 700px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha45 {
    width: 650px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha46 {
    width: 600px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha47 {
    width: 650px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha48 {
    width: 700px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}
.linha49 {
    width: 750px;
    height: 1px;
    background-color: white; 
    margin-top: 80px;
}