*{
    margin: 0;
    padding: 0;
}
.home {
    background-image: url("../img/background.png");
    color: white;
    padding-top: 15px;
}
.texto{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding-top: 40px;
    border: 1px solid white;
    width: 50%;
}
.texto-inicial{
    color: white;
    font-size: 20px;
}
.foto-game {
    width: 300px;
    height: 200px;
}
.card1 {
    border: 2px solid white;
    width: 300px;
    padding: 10px;
    color: white;
    background-color: rgb(255,0,0,.4);
}
.card2 {
    border: 2px solid white;
    width: 300px;
    padding: 10px;
    margin-left: 450px;
    color: white;
    background-color: rgb(255,0,0,.5);

}
.linha1 {
    height: 1px;
    width: 20%;
    background-color: white;
    align-self: center;
}
.quadro1{
    display: flex;
}
.quadro2{
    display: flex;
    margin-left: 300px;
}
.linha2{
    width: 1px;
    height: 300px;
    background-color: white;
    display: flex;
    margin-left: 500px;
}
.icone{
    width: 150px;
    height: 150px;
    align-self: center;
    margin-left: 100px;
}
p{
    font-size: 20px;
}


/*
.box1{  
    display: flex;
    align-items: center;
    width: 320px;
    margin: 20px;
}

    align-items: center;
}
.linha2{
    width: 1px;
    height: 20%;

}*/