*{
    margin: 0;
    padding: 0;
}
.texto {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-left: 20px;
    line-height: 1.5;
    font-size: 20px;
    color: white;
}
h1 {
    margin-bottom: 40px;
    margin-top: 2px;
    color: white
    font-size: 40px;
}
.pessoal{
    color: white;
    font-size: 20px;
    border: 2px solid black;
    height: 100px;
    margin-top: 20px;
    background-color: black;
    margin-left: -20px;
    margin-right: -50px;
} 
.rede-social{
    width: 38px;
    height: 38px;
}
ul{
    display: flex;
    align-items: center;
    background-color: white;
    width: 25%;
    height: 65px;
    justify-content: space-around;
    border: 2px solid black;
    color: white;
}
.titulo {
    margin-left: 20px;
}
.text-menu {
    display: flex;
    text-align: left;
    width: 70%;
    font-size: 20px;
    align-content: center;
    justify-content: center;
}
.bem-vindo {    
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 50px;
    background-image: url("../img/background.png");
    color: white;
    }